body{
    background-color: black;
    color: white;}

    .comic-neue-bold {
        font-family: "Comic Neue", cursive;
        font-weight: 700;
        font-style: normal;
      }


/* Classes */
.navbar {
    background-color: black;
}

/* IDs */

.header_img{
    max-width: 100%;
    max-height: 100%;
}



#header {
    width: 50%;
}
header{
    color: red;

}
.background{
    color: black;
}